@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <title>Assignment 3#</title>
    <script src="~/js/site.js"></script>

</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div>
        <iframe style="border:5px solid black; border-radius:10px;" width="560" height="315" src="https://www.youtube.com/embed/V5M2WZiAy6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <canvas style="border:5px solid black;" id="gameCanvas" width="400" height="300"></canvas>

</body>